@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);







#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__hamburger {
  color: #b8312f;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}
#header1-1 H1 {
  font-size: 100px;
  color: #000000;
  font-family: 'Lato', sans-serif;
}
#header1-1 P {
  text-align: center;
  color: #000000;
  font-size: 100px;
  font-family: 'Lato', sans-serif;
}
#slider-2 H1 {
  color: #ffffff;
  text-align: right;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
}
#slider-2 P {
  color: #000000;
  text-align: right;
}
#msg-box4-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#features1-b P {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#gallery1-i SMALL {
  text-align: center;
  color: #ffffff;
}
#contacts1-j P {
  color: #4c6972;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

#menu-c .mbr-brand__name {
  font-size: 16px;
}
#menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-c .mbr-navbar__section {
  background: #ffffff;
}
#menu-c .mbr-navbar__hamburger {
  color: #b8312f;
}
#menu-c .mbr-navbar__items a {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}
